# ============================================================
# NeoWallet — Variables de Entorno (PLANTILLA PÚBLICA)
# Copia este archivo como .env y ajusta los valores
# El archivo .env NUNCA se sube a GitHub
# ============================================================

ACCOUNTS_DB_USER=accounts_user
ACCOUNTS_DB_PASSWORD=accounts_secret_pass

PROCESSOR_DB_USER=processor_user
PROCESSOR_DB_PASSWORD=processor_secret_pass
